@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Roboto:wght@400,900&display=swap");

.body-under-construction {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #fff;
}

.text-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container p {
  margin: 0;
  font-size: 25px;
  color: rgba(225, 225, 225, 0.01);
  background-image: url("../../assets/images/MyWork.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  font-weight: 900;
  -webkit-animation: animate 15s ease-in-out infinite;
  line-height: 1.2;
  letter-spacing: 2px;
}
.text-container .text-small {
  letter-spacing: 8px;
}

@keyframes animate {
  0%,
  100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}
